extends ../layout
include ../components/forms

block content
  #centered-content
    h3
      | Alterar minha senha
    form(action="/account/change-pw",method="post")
      +input('Senha antiga *', 'old_pw', null, 'Digite sua senha antiga')(type="password")
      +input('Senha nova *', 'password', null, 'Digite sua senha nova')(type="password")
      +input('Confirmar senha nova *', 'confirm_password', null, 'Confirme sua senha nova ')(type="password")
      +submit('Alterar senha')(class="btn-lg pull-right btn-block")
      .clearfix
