extends ../layout
block content
  #centered-content
    h3
      | Redefinir senha
    p
      | Para gerar um senha temporária, insira seu email de acesso e clique em enviar.
    form(action="/account/forgot-pw",method="post")

      +input('Email de acesso', 'email', null, 'Digite seu email de acesso')
      +submit('Enviar')(class='btn-block')
