extends ../layout
include ../components/forms
include ../components/panels
include user-form

block content
  h3 Minha Conta
  form(action="/account/update", method="post")
    +user-form(data)

    +submit('Atualizar')(class="btn-lg pull-right")
    .clearfix