extends ../layout
include ../components/forms
include ../components/panels
include user-form

block content
  h3 Novo Usuário
  form(action="/account/create", method="post")
    +user-form(data)

    +submit('Cadastrar')(class="btn-lg pull-right")
    .clearfix