extends ../layout

block content
  h3
    if data.user
      | Minha conta
    else
      | Novo Usuário
  form(action="/account/signup",method="post")
    input(type="hidden", name="_id", value=(inputs && inputs._id) || (data.user ? data.user._id : null))
    .panel.panel-default
      .panel-heading
        | Informações Pessoais
      .panel-body
        .form-group
          label(for="name")
            | Nome completo *
          input(type="text", id="name", value=(inputs && inputs.name) || (data.user ? data.user.name: null), name="name", class="form-control", placeholder="Insira o seu nome completo", required="required")
        .form-group
          label(for="birthday")
            | Data de Nascimento *
          input(type="text", value=(inputs && inputs.birthday) || (data.user ? data.user.getFormatedBirthday: null), name="birthday",id="birthday", class="form-control", placeholder="Formato: DD/MM/AAAA", required="required")
    include ../components/user-features-panel
    .panel.panel-default
      .panel-heading
        | Identificação da Instituição *
      .panel-body
        .form-group
          label(for="institution_name")
            | Nome da Instituição *
          input(type="text", name="institution_name",id="institution_name", class="form-control", placeholder="Insira o nome da instituição", value=(inputs && inputs.institution_name) ||(data.user ? data.user.institution_name : null), required="required")
        .form-group
          label(for="institution_address")
            | Endereço da Instituição *
          input(type="text", name="institution_address",id="institution_address", class="form-control", placeholder="Insira a rua, número, bairro, cidade, estado e país", value=(inputs && inputs.institution_address) || (data.user ? data.user.institution_address : null), required="required")
    .panel.panel-default
      .panel-heading
        span#instit-post-label
          | Cargo ou Função dentro da Instituição
      .panel-body
        fieldset
          each institutional_post in data.institutional_posts
            .checkbox.block
              label
                input(type="checkbox",aria-labelledby="instit-post-label", name="institutional_post_id[]", class="checked-string", value=institutional_post._id, checked= (inputs && inputs['institutional_post_id[]'] && inputs['institutional_post_id[]'].indexOf(institutional_post._id.toString()) != -1 )|| ((data.user && data.user.institutional_post_id) && data.user.institutional_post_id.indexOf(institutional_post._id.toString()) != -1))
                span
                  | !{institutional_post.name}
        .form-group
          label(for="institutional_post_text")
            | Outra
          input(type="text", class="form-control", value=(inputs && inputs.institutional_post_text) || (data.user ? data.user.institutional_post_text ? data.user.institutional_post_text : null : null), name="institutional_post_text", id="institutional_post_text")
    .panel.panel-default
      .panel-heading
        | Informações de Usuário
      .panel-body
        .form-group
          label(for="email")
            | Email *
          input(type="email", name="email",id="email", class="form-control", placeholder="Exemplo: edumpampa@mus.edu.br", value= (inputs && inputs.email) || (data.user ? data.user.email: null), required="required")
        if !data.user
          .form-group
            label(for="password")
              | Senha *
            input(type="password", name="password",id="password", class="form-control", required="required")
            p
              | A senha deve ter entre 8 e 20 caracteres e pelo menos, 1 número e 1 letra!
          .form-group
            label(for="password_confirm")
              | Confirmar Senha *
            input(type="password", name="password_confirm",id="password_confirm" class="form-control", required="required")
    .form-group.pull-right
      .btn-group
        if data.user
          button(type="submit", value="Cadastrar",class="btn btn-lg btn-primary")
            i(class="fa fa-floppy-o" aria-hidden="true")
            | Atualizar
        else
          button(type="submit", value="Cadastrar",class="btn btn-lg btn-primary")
            i(class="fa fa-floppy-o", aria-hidden="true")
            | Cadastrar
        button(type="reset", value="Limpar",class="btn btn-lg btn-primary")
          i(class="fa fa-undo", aria-hidden="true")
          | Limpar
        a(href="/" , class="btn btn-lg btn-primary")
          i(class="fa fa-arrow-left", aria-hidden="true")
          | Voltar
    .clearfix

