extends tabs

block tab-content
  #users.tab-pane.active(role="tabpanel")
    form(action="/admin/reports/users", method="get")
      include ../../components/user-features-panel
      button(type="submit").btn.btn-primary
        | Gerar relatório
  #profile.tab-pane(role="tabpanel") ...
  #messages.tab-pane(role="tabpanel") ...
