extends tabs

block tab-content
  #users.tab-pane.active(role="tabpanel")
    form(action="/admin/reports/learning-objects-results", method="get")
      include ../../components/lo-panels
      +loPanels({
        type: 'lo',
        checkboxes: [
          { options: data.teaching_levels },
          { options: data.axes },
          { options: data.accessibility_resources },
        ],
      })
      include ../../components/lo-cont-res-panels
      button(type="submit").btn.btn-primary
        | Gerar relatório
  #profile.tab-pane(role="tabpanel") ...
  #messages.tab-pane(role="tabpanel") ...
