extends ../../layout

mixin item(name, url)
	li(class=activetab === name ? "active" : "", role="presentation")
		a(href="/admin/reports"+url, role="tab")= name

block content
	div
		ul.nav.nav-tabs(role="tablist")
			+item("Usuários", "")
			+item("OA's", "/learning-objects")
			+item("OA's por usuário", "/user-learning-objects")
		.tab-content
			block tab-content
