.panel.panel-default
  .panel-heading
    | Arquivo
  .panel-body
    .form-group
      input(type="hidden" name="file_name" id="file_name", value=data.lo ? typeof(data.lo.file) != null ? JSON.stringify(data.lo.file) : '' :'')
      input(type="hidden" name="object_id" id="object_id", value=data.lo ? data.lo._id : '')
      label(for="file")
        | Arquivo (Indicado para arquivos de até 20MB)
      #drop
        p(class="text-center")
          | Arraste e solte os arquivos nesta área, ou clique para escolher do computador.
        .fallback
          input(type="file", id="file", class="form-control", name="file")
    .form-group
      label(for="file_url")
        | URL (Para arquivos com mais de 20MB, a submissão da URL é obrigatória *)
      textarea(type="text", id="file_url", placeholder="URL do arquivo", name="file_url", class="form-control")
        | !{(inputs && inputs.file_url) || (data.lo && data.lo.file_url)}
