include ../components/panels
include ../components/forms
mixin file-form({lo})
  +panel-default('Arquivo')
      +input('Enviar arquivo', 'uploadcare-uploader', value=lo.file ? lo.file.uuid : '')(id="uploadcare-uploader", type="hidden")
      #file-thumbnail
      br
      #file-control(style="display:none;")
        button.btn.btn-danger#remove-file(type="button") Remover arquivo
      //- input(type="hidden" role="uploadcare-uploader" name="content" data-public-key="1149ff0567d57aca2e74")      
      +textarea('URL (Para arquivos com mais de 10MB, a submissão da URL é obrigatória *)', 'file_url', oldInput('file_url', lo && lo.file_url) , 'URL do arquivo')    
