include ./forms
mixin license-form({licenses}, data)
  input(type='hidden', id="license-objects", value=JSON.stringify(licenses))
  +panel-default('Licença')
    +select(
      'Licença *',
      'license',
      data && data.license, 
      'Selecione uma licença',
      licenses,
      {val: '_id', text: 'name'})(required=true)
    +input('Detentor dos Direitos Autorais *', 'license_owner', data && data.license_owner, 'Informe o nome do detentor dos direitos autorais do objeto')(required=true)      
    +textarea('Descrição da Licença *', 'license_description', data && data.license_description, 'Descrição da licença de uso')    
    #license-details
      img#license-img
      a#license-deed(target="_blank", title="Ver descrição completa da licensa")
        | Ver descrição completa
      a#license-legal(target="_blank", title="Ver descrição legal da licensa")
        | Ver descrição legal
