include panel

mixin crPanels([ panel1, panel2 ])
  .row
    .col-md-6
      +panel('Conteúdos', 'contents', 'contents', panel1.options, panel1.values)
    .col-md-6
      +panel('Recursos', 'resources', 'resources', panel2.options, panel2.values)
