include panel

mixin crPanels({ contents, resources })
  .row
    .col-md-6
      +panel('Conteúdos', 'contents', 'contents', contents.options, contents.values)
    .col-md-6
      +panel('Recursos', 'resources', 'resources', resources.options, resources.values)
