include panel

mixin crPanels({ contents, resources }, values)
  .row
    .col-md-6
      +panel('Conteúdos', 'contents', 'contents', contents, values && values.contents)
    .col-md-6
      +panel('Recursos', 'resources', 'resources', resources, values && values.resources)
