include panels
include forms
mixin lo-metadata-panels({ teaching_levels, axes, accessibility_resources, content, resources, lo })
  .row
    .col-md-5
      +panel-default('Níveis de Ensino', 'teaching_levels[]')
        fieldset
          each teaching_level in teaching_levels
            +checkbox(
              teaching_level.name,
              'teaching_levels[]',
              teaching_level._id,
              oldInput('teaching_levels', lo && lo.teaching_levels)
            )(class="checked-string")
    .col-md-3
      +panel-default('Eixos', 'axes[]')
        fieldset
          each axe in axes
            +checkbox(
            axe.name,
            'axes[]',
            axe._id,
            oldInput('axes', lo && lo.axes)
          )(class="checked-string")
    .col-md-4
      +panel-default('Recursos de Acessibilidade', 'accessibility_resources[]')
        fieldset
          each accessibility_resource in accessibility_resources
            +checkbox(
              accessibility_resource.name,
              'accessibility_resources[]',
              accessibility_resource._id,
              oldInput('accessibility_resources', lo && lo.accessibility_resources)
            )(class="checked-string")
  if content && resources
    .row
      .col-md-6
        +panel-default('Conteúdos', 'content[]')
          fieldset
            each cont in content
              +checkbox(
                cont.name,
                'content[]',
                cont._id,
                oldInput('content', lo && lo.content)
              )
      .col-md-6
        +panel-default('Recursos', 'resources[]')
          fieldset
            each resource in resources
              +checkbox(
                resource.name,
                'resources[]',
                resource._id,
                oldInput('resources', lo && lo.resources)
              )