//- Como os paineis são comumente utilizados na aplicação,
//- este mixin serve para simpificar a escrita do painel do 
//- bootstrap, podendo ser inserido o corpo desejado, por exemplo
//- partes de formulários.

//- Inicialmente os paineis estavam atrelados aos checkbox dos objetos
//- de aprendizagem, mas tendo em vista que os metadados dos objetos podem
//- mudar a sua forma de estarem expostos, foram "desacoplados" dos paineis
mixin panel(type, title)
  .panel(class=`panel-${type}`)
    if title !== undefined
      .panel-heading
        h3.panel-title= title
      .panel-body
        block

//- panel-default
mixin panel-default(title)
  +panel('default', title)
    block