extends layout

block content
	div
		ul.nav.nav-tabs(role="tablist")
			li.active(role="presentation")
				a(href="/admin/reports", role="tab") Usuários
			li(role="presentation")
				a(href="/admin/reports/learning-objects", role="tab") OA's
			li(role="presentation")
				a(href="/admin/reports/user-learning-objects", role="tab") OA's por usuário
		.tab-content
			#users.tab-pane.active(role="tabpanel")
				h3
					| Resultados 
					.badge.alert-info
						| !{count}
				each user in users
					p
						| !{user.name}
				a.btn.btn-primary.btn-lg(href="/admin/reports")
					| Voltar
