extends layout

block content
	div
		ul.nav.nav-tabs(role="tablist")
			li.active(role="presentation")
				a(href="/admin/reports", role="tab") Usuários
			li(role="presentation")
				a(href="/admin/reports/learning-objects", role="tab") OA's
			li(role="presentation")
				a(href="/admin/reports/user-learning-objects", role="tab") OA's por usuário
		.tab-content
			#users.tab-pane.active(role="tabpanel")
				form(action="/admin/reports/learning-objects-results", method="get")
					include lo_panels
					include lo_cont_res_panels
					button(type="submit").btn.btn-primary
						| Gerar relatório
			#profile.tab-pane(role="tabpanel") ...
			#messages.tab-pane(role="tabpanel") ...			
