extends layout

block content
  h4.page-header
      p
        | Este repositório possui Objetos de Aprendizagem didático-musicais que podem ser adotados em atividades de Educação Musical.      
      p Selecione uma ou mais opções para buscar por Objetos de Aprendizagem:

  if error
    p Error getting dynamic content.
  else
    form(action="/learning-object/checkbox-search", method="GET")
      include lo_panels
      .form-group
        button(type="submit", class="btn-lg btn btn-primary pull-right")
          i(class="fa fa-search" aria-hidden="true") 
          |  Pesquisar
      .clearfix