extends layout

block content
  h3.page-header
    | Este repositório possui Objetos de Aprendizagem didático-musicais que podem ser adotados em atividades de Educação Musical. Selecione uma ou mais opções para buscar por Objetos de Aprendizagem:
  form(action="/learning-object/checkbox-search", method="GET")
    include components/lo-panels
    +loPanels([
      { options: data.teaching_levels },
      { options: data.axes },
      { options: data.accessibility_resources },
    ])
    .form-group
      button(type="submit", class="btn-lg btn btn-primary pull-right")
        i(class="fa fa-search" aria-hidden="true")
        | Pesquisar
        .clearfix
