#terms.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
  .modal-dialog(role="document").modal-lg
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") ×
        h4#myModalLabel.modal-title Termos do Serviço
      .modal-body.text-left
        p          
          | Ao utilizar o EduMPampa: Repositório de Objetos de Aprendizagem para Educação Musical Inclusiva ("Serviço"), você aceita os seguintes termos e condições de uso ("Termos de Uso").
        p
          strong
            | Termos básicos
        ul(style="list-style-type: disc")
          li
            | Você é responsável por manter seus dados fidedignos e atualizados;
          li
            | Você é responsável por manter seu login e senha seguros;
          li
            | Você é responsável pelo uso adequado dos objetos de aprendizagem referenciados no Serviço, observando suas licenças de uso;
          li
            | Você é responsável pelas informações dos objetos de aprendizagem que publica com o Serviço, observando suas licenças de uso;
          li
            | Não somos responsáveis por quaisquer informações armazenadas com o Serviço;
          li
            | Não somos responsáveis por disponibilidade, conteúdos, políticas de privacidade e práticas de quaisquer serviços de terceiros;
          li
            | Os dados armazenados no Serviço, como cadastros  de usuários e cadastros de objetos, resguardando-se a identidade dos usuários, podem ser utilizados para subsidiar pesquisas acadêmicas;
          li
            | Não somos responsáveis por quaisquer problemas devido à indisponibilidade do Serviço.
        p
          strong
            | Termos gerais          
        ul(style="list-style-type: disc")
          li
            | Reservamo-nos o direito de modificar ou terminar o Serviço por qualquer razão, sem notificação e a qualquer tempo;
          li
            | Reservamo-nos o direito de alterar estes Termos de Uso a qualquer tempo;
          li
            | Reservamo-nos o direito de retirar qualquer objeto de aprendizagem por qualquer razão a qualquer tempo;
          li
            | Reservamo-nos o direito a recursar o serviço a qualquer pessoa por qualquer razão a qualquer tempo.
#credits.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
  .modal-dialog(role="document").modal-lg
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") ×
        h4#myModalLabel.modal-title Créditos
      .modal-body.text-left        
        p
          | Projeto de Pesquisa "Educação Musical Inclusiva Mediada por Tecnologias Digitais Acessíveis" Universidade Federal do Pampa (Registro SIPPEE/UNIPAMPA: 02.016.16)
        
        strong
          | Concepção
        ul
          li
            | Profª. Drª. Amanda Meincke Melo - Campus Alegrete
          li
            | Profª. Drª. Carla Eugênia Lopardo - Campus Bagé
          li
            | Guilherme Moreira de Melo - Acadêmico do Curso de Música/Licenciatura - Campus Bagé, bolsista PDA 2017 e 2018
        
        strong
          | Logomarca
        ul
          li
            | Tobias de Medeiros Rodrigues - Analista de Tecnologia da Informação - Campus Bagé
        strong
          | Engenharia de Requisitos
        ul
          li
            | Lisiane dos Santos da Rosa - Acadêmica do Curso de Ciência da Computação - Campus Alegrete
          li
            | Miguel da Silva Ecar - Acadêmico do Curso de Engenharia de Software - Campus Alegrete, bolsista PDA 2017
        
        strong
          | Desenvolvimento Iterativo
        ul
          li
            | Miguel da Silva Ecar - Acadêmico do Curso de Engenharia de Software - Campus Alegrete
          li
            | Isadora Garcia Ferrão - Acadêmica do Curso de Ciência da Computação - Campus Alegrete
          li
            | Murilo Dutra Meglioransi - Acadêmico do Curso de Ciência da Computação - Campus Alegrete
          li
            | Wolgan Ens Quepfert - Acadêmico do Curso de Ciência da Computação - Campus Alegrete
      
        p
          | Programa de Extensão "Programa C - Comunidade, Computação, Cultura, Comunicação, Ciência, Cidadania, Criatividade, Colaboração" (Registro SIPPEE/UNIPAMPA: 01.001.16)
        
        strong  
          | Evolução
        ul
          li
            | Profª. Drª. Amanda Meincke Melo - Campus Alegrete
          li
            | Wolgan Ens Quepfert - Acadêmico do Curso de Ciência da Computação - Campus Alegrete