@import 'custom_variables';
@import "~dropzone/dist/dropzone.css";
@import 'dropzone';
@import 'buttons';
@import 'text';
@import 'components';
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker";
@import "~uppy/dist/uppy.min.css";

.inline {
	display: inline;
}
.block {
	display: block;
}
