@import 'custom_variables';
@import 'dropzone.scss';
@import 'buttons.scss';
@import 'text.scss';
@import 'components';
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

.inline {
	display: inline;
}
.block {
	display: block;
}
