@import 'custom_variables';
@import "~dropzone/dist/dropzone.css";
@import 'dropzone';
@import 'buttons';
@import 'text';
@import 'components';
@import 'loading';
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker";

.inline {
	display: inline;
}
.block {
	display: block;
}
