$default_green: #006600;
$panel-default-heading-bg:    $default_green !default;
$navbar-default-bg:                $default_green !default;
$navbar-default-color:             #FFF !default;
$navbar-default-link-color:        #FFF !default;
$navbar-default-link-hover-bg:     white !default;
$navbar-default-link-hover-color:          #000 !default;
$navbar-default-link-active-color:         white !default;
$panel-default-text:    white !default;
$brand-primary: $default_green;