extends ../layout
include ../components/forms
block content
  h3
    | Cadastrar Objeto de Aprendizagem    
  form(action="/learning-object/create", method="post", encType="multipart/form-data")    
    .panel.panel-default
      .panel-heading
        | Dados Gerais
      .panel-body
        +input('Título *', 'title', post && post.title, 'Informe o título do objeto')(required=true)
        +textarea('Descrição *', 'description', post && post.description, 'Informe a descrição do objeto')(required=true)
        +input('Autores *', 'authors', post && post.authors, 'Informe o nome dos autores do objeto')(required=true)        
        +input('Ano de autoria', 'year', post && post.year, 'Informe o ano de autoria do objeto')(required)        
    include ../components/lo-panels    
    +loPanels(data, post)

    include ../components/lo-cont-res-panels
    +crPanels(data, post)

    include ../components/licenses-form
    //- include ../components/file-form
    .form-group
      button(type="submit", class="btn-lg btn btn-primary pull-right")
        | Cadastrar
      .clearfix
