extends ../layout
include ../components/forms
include ../components/panels
include ../components/lo-metadata-panels
//- OBS: A variavel post, como o nome já sugere, mantem os dados que foram submetidos
//- através de uma requisição post, nela estão armazenados os valores que o usuário já
//- tentou submeter anteriormente. Nesta página por ser CREATE, ou um campo está vazio
//- ou seu valor está armazneado na variavel post
block content
  h3
    | Cadastrar Objeto de Aprendizagem    
  form(action="/learning-object/create", method="post", encType="multipart/form-data")    
    
    //- Formulário de dados gerais do objeto de aprendizagem
    +panel-default('Dados Gerais')
        +input('Título *', 'title', oldInput('title'), 'Informe o título do objeto')(required=true)
        +textarea('Descrição *', 'description', oldInput('description'), 'Informe a descrição do objeto')(required=true)
        +input('Autores *', 'authors', oldInput('authors'), 'Informe o nome dos autores do objeto')(required=true)        
        +input('Ano de autoria *', 'year', oldInput('year'), 'Informe o ano de autoria do objeto')(required)
    
    //- Paineis para seleção de Níveis de Ensino, Eixos e Recursos de acessibilidade
    //- do objeto de aprendizagem a ser cadastrado    
    +lo-metadata-panels(data)
    //- A lista de licenças disponíveis está na variavel data.licenses
    //- e na variavel post estão as informações submetidas previamente pelo usuário
    //- dos campos da licença
    include ../components/licenses-form
    +license-form(data)

    include ../components/file-form
    +file-form(data)
    //- Botão de submissão do formulário    
    +submit('Cadastrar')(class="btn-lg pull-right")    
    .clearfix
block scripts
  script(src="/javascripts/licenses.js")
