extends ../layout

block content
    h3 Cadastrar Objeto de Aprendizagem - Etapa 2/3
    form(action="/learning-object/create-second-step", method="post", encType="multipart/form-data")
        input(type="hidden" id="_id" name="_id" value=data.lo._id)
        //- Paineis para seleção de Níveis de Ensino, Eixos e Recursos de acessibilidade
        //- do objeto de aprendizagem a ser cadastrado    
        include ../components/lo-metadata-panels
        +lo-metadata-panels(data)
        
        //- //- Botão de submissão do formulário    
        +submit('Continuar')(class="btn-lg pull-right")    
        .clearfix