extends ../layout

block content
  h3
    | Meus Objetos de Aprendizagem
  table.table
    thead
      tr
        th
          | Título
        th
          | Situação
        th
          | Ações
    tbody
      each lo in data
        tr
          td
            a(title=lo.title href=`/learning-object/single/${lo._id}`) #{lo.title}            
          td
            | !{lo.htmlSituation}
          td
            .btn-group
              a.btn.btn-default.remove(href="/learning-object/remove/" + lo._id, data-alert="Apagar objeto?")
                | Apagar

