extends ../layout
include ../components/forms
include ../components/panels
//- OBS: A variavel post, como o nome já sugere, mantem os dados que foram submetidos
//- através de uma requisição post, nela estão armazenados os valores que o usuário já
//- tentou submeter anteriormente. Nesta página por ser utilizada para UPDATES, ou 
//- os dados vem do objeto a ser atualizado, ou vem de uma requisição post anterior
block content
  h3
    | Cadastrar Objeto de Aprendizagem    
  form(action="/learning-object/update", method="post", encType="multipart/form-data")    
    input(type='hidden', name='object_id', value=data.lo._id)
    //- Formulário de dados gerais do objeto de aprendizagem
    +panel-default('Dados Gerais')    
        +input('Título *', 'title', post.title || data.lo.title, 'Informe o título do objeto')(required=true)
        +textarea('Descrição *', 'description', post.description || data.lo.description, 'Informe a descrição do objeto')(required=true)
        +input('Autores *', 'authors', post.authors || data.lo.authors, 'Informe o nome dos autores do objeto')(required=true)        
        +input('Ano de autoria *', 'year', post.year || data.lo.year, 'Informe o ano de autoria do objeto')(required)

    //- Paineis para seleção de Níveis de Ensino, Eixos e Recursos de acessibilidade
    //- do objeto de aprendizagem a ser atualizado, ou os dados vem de um post anterior
    //- ou estão no objeto data.lo    
    .row
      .col-md-5
        +panel-default('Níveis de Ensino', 'teaching_levels[]')
          fieldset
            each teaching_level in data.teaching_levels            
              +checkbox(
                teaching_level.name,
                'teaching_levels[]',
                teaching_level._id,
                post.teaching_levels || data.lo.teaching_levels
              )
      .col-md-3
        +panel-default('Eixos', 'axes[]')
          fieldset
            each axe in data.axes              
              +checkbox(
              axe.name,
              'axes[]',
              axe._id,
              post.axes || data.lo.axes
            )
      .col-md-4
        +panel-default('Recursos de Acessibilidade', 'accessibility_resources[]')
          fieldset
            each accessibility_resource in data.accessibility_resources              
              +checkbox(
                accessibility_resource.name,
                'accessibility_resources[]',
                accessibility_resource._id,
                post.accessibility_resources || data.lo.accessibility_resources
              )
    .row
      .col-md-6
        +panel-default('Conteúdos', 'content[]')
          fieldset
            each content in data.contents
              +checkbox(
                content.name,
                'content[]',
                content._id,
                post.content || data.lo.content
              )
      .col-md-6        
        +panel-default('Recursos', 'resources[]')
          fieldset
            each resource in data.resources
              +checkbox(
                resource.name,
                'resources[]',
                resource._id,
                post.resources || data.lo.resources
              )
    //- A lista de licenças disponíveis está na variavel data.licenses
    //- As informações do OA sendo atualizado estão em data.lo
    include ../components/licenses-form    
    +license-form(data)

    include ../components/file-form
    +file-form(data)    
    //- Botão de submissão do formulário    
    +submit('Cadastrar')(class="btn-lg pull-right")    
    .clearfix
block scripts
  script(src="/javascripts/licenses.js")
